body {
    background: rgb(6, 6, 77);
    color: rgb(37, 126, 161);
}

.right {
    background: green;
    color: antiquewhite;
}

.wrong {
    background: red;
    color: white;
}

.congrats {
    display: none;
    color: blueviolet;
    font-size: 30px;
}

.wrongMessage {
    display: none;
    color: blueviolet;
    font-size: 30px;
}

.btn {
    display: inline;
}

.hide {
    display: none;
}

.score {
    float: center;
}

button {
    background: rgb(182, 216, 228);
}