body {
    color: rgb(37, 126, 161);
}

.right {
    background: green;
    color: antiquewhite;
}

.wrong {
    background: red;
    color: white;
}

.congrats {
    display: none;
}

.wrongMessage {
    display: none;
}

.btn {
    display: inline;
}

.hide {
    display: none;
}